:root {
    --cor-principal: #6911ced7;
    --cor-secundaria: #6923b8;
    --cor-fundo: #ffffff;
    --cor-texto: #000000;
    --cor-borda: #cccccc;
    --cor-borda-foco: #6923b8c2;

    --tamanho-font: 16px;
    --espaco-padrao: 10px;
    --max-width: 1300px;
}

/* Utilizando as variáveis definidas no :root */
#estoque {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-width);
    height: auto;
    padding: 2em;
    border: solid 0px var(--cor-principal);
    margin: 0 auto;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.minimal-button {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    border: none;
    padding: var(--espaco-padrao) 20px;
    font-size: var(--tamanho-font);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.minimal-button:hover {
    background-color: rgba(105, 17, 206, 0.60);
    color: var(--cor-texto);
}

.minimal-search {
    width: 100%;
    padding: var(--espaco-padrao) 15px;
    max-width: 400px;
    font-size: var(--tamanho-font);
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
}

.minimal-search:focus {
    border-color: #999999;
}

/* Estilo dos inputs */
.form-group input {
    width: 100%;
    padding: var(--espaco-padrao);
    border: 1px solid var(--cor-borda);
    border-radius: 4px;
    font-size: var(--tamanho-font);
    transition: border-color 0.3s;
    background-color: transparent;
}

.form-group input:focus {
    border-color: var(--cor-borda-foco);
    outline: none;
    box-shadow: 0 0 5px var(--cor-borda-foco);
}

#dropdownResultEstoque {
    border: 1px solid var(--cor-borda);
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    width: 100%;
    max-width: 600px;
    z-index: 1000;
    border-radius: 0 8px 8px 8px;
}

#dropdownResultEstoque div {
    padding: var(--espaco-padrao);
    cursor: pointer;
}

#dropdownResultEstoque div:hover {
    background-color: rgba(105, 35, 184, 0.21);
}

#tabela-lancamentos {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: var(--cor-texto);
}

#lancamentosTable {
    width: 100%;
    border-collapse: collapse;
}

#lancamentosTable th,
#lancamentosTable td {
    padding: var(--espaco-padrao);
    text-align: left;
    border: 1px solid #ddd;
}

#lancamentosTable th {
    font-weight: bold;
    background-color: var(--cor-principal);
    /* Adicione uma cor de fundo para o cabeçalho, se desejar */
    color: var(--cor-fundo);
    /* Cor do texto do cabeçalho */
}

#lancamentosTable tr:nth-child(even) {
    background-color: rgba(223, 205, 238, 0.22);
}

#lancamentosTable tr:hover {
    background-color: rgba(105, 35, 184, 0.61);
}