#estoque {
    position: relative; /* Altere para relative para evitar problemas de responsividade */
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    height: auto; /* Altere para auto para permitir altura dinâmica */
    padding: 2em;
    border: solid 0px #030303;
    margin: 0 auto; /* Centraliza o contêiner */
}

#container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.minimal-button {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #cccccc;
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.minimal-button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.minimal-search {
    width: 100%;
    padding: 10px 15px;
    max-width: 400px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
}

.minimal-search:focus {
    border-color: #999999;
}

#dropdownResultEstoque {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: #868282;
    color:#000000;
    width: 100%;
    max-width: 600px;
    z-index: 1000;
}

#dropdownResultEstoque div {
    padding: 10px;
    cursor: pointer;
}

#dropdownResultEstoque div:hover {
    background-color: #f0f0f0;
}

#tabela-lancamentos {
    width: 80%; /* Ajustado para 80% */
    margin: 20px auto; /* Centraliza a tabela */
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #a09c9c; /* Fundo para a tabela */
}

#lancamentosTable {
    width: 100%; /* 100% para ocupar o espaço disponível */
    border-collapse: collapse;
}

#lancamentosTable th,
#lancamentosTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#lancamentosTable th {
    background-color: #000000;
    font-weight: bold;
}

#lancamentosTable tr:nth-child(even) {
    background-color: #5e5d5d;
}

#lancamentosTable tr:hover {
    background-color: #cecccc;
}
