* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em;
    background-color: black;
    color: white;
}