* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #121212;
    color: #FFF;
}

main {
    position: absolute;
    border: solid 0px #030303;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}