:root {
    --dropdown-bg-color: #f9f9f9; /* Cor de fundo do dropdown */
    --dropdown-link-color: black; /* Cor dos links no dropdown */
    --dropdown-link-hover-bg: #f1f1f1; /* Cor de fundo do link no hover */
    --dropdown-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Sombra do dropdown */
    --dropdown-padding: 12px; /* Padding dos botões e links */
    --dropdown-font-size: 16px; /* Tamanho da fonte do botão */
}

.dropdown-action {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: var(--dropdown-padding);
    font-size: var(--dropdown-font-size);
    border: none;
    cursor: pointer;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    min-width: 160px;
    box-shadow: var(--dropdown-shadow);
    z-index: 1;
}

.dropdown-content a {
    color: var(--dropdown-link-color);
    padding: var(--dropdown-padding) 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-link-hover-bg);
}

.dropdown-content.show {
    display: block;
}
