:root {
    --main-bg-color: #f9f9f9;
    --primary-color: #6911ced7;
    --primary-color-hover: #6911ce60;
    --focus-border-color: #6923b8c2;
    --input-border-color: #ccc;
    --input-placeholder-color: #aaa;
    --font-family: Arial, sans-serif;

    /* Tamanhos */
    --padding-large: 4em;
    --padding-medium: 3em;
    --padding-small: 2em;
    --input-small-width: 30%;
    --input-medium-width: 50%;
    --input-large-width: 100%;
}

body {
    font-family: var(--font-family);
}

/* Estilos principais */
#listagem-produto {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: var(--padding-large);
    width: 1400px;
    height: 100vh;
    max-width: 1400px;
    border: solid 0px #030303;
    top: 50%;
    left: 52.3%;
    transform: translate(-50%, -50%);
}

#cadastro-produto,
#editar-produto {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    padding: 8em;
    border: solid 0px #030303;
    top: 50%;
    left: 56.3%;
    transform: translate(-50%, -50%);
}

#btn-psq-cadastro {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilos de botão */
.minimal-button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: #fff;
    border: none;
}

.minimal-button:hover {
    background-color: var(--primary-color-hover);
    color: #000000;
}

/* Estilos de busca */
.minimal-search {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
}

/* Estilização geral do formulário */
.styled-form {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 8px;
}

/* Estilo dos grupos de inputs */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

/* Estilo dos inputs */
.form-group input {
    width: var(--input-large-width);
    padding: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
    background-color: transparent;
}

.form-group input:focus {
    border-color: var(--focus-border-color);
    outline: none;
    box-shadow: 0 0 5px var(--focus-border-color);
}

/* Estilos para tamanhos de inputs */
.small-input input {
    width: var(--input-small-width);
}

.medium-input input {
    width: 15rem;
    /* Ajuste conforme necessário */
}

.large-input input {
    width: 30rem;
    /* Ajuste conforme necessário */
}

/* Placeholder */
input::placeholder {
    color: var(--input-placeholder-color);
}

/* Estilo do grupo de inputs */
#input-group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    gap: 2em;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Design responsivo para dispositivos menores */
@media (max-width: 768px) {

    .small-input input,
    .medium-input input,
    .large-input input {
        width: 100%;
    }
}

/* Telas pequenas */
@media (max-width: 600px) {
    #listagem-produto {
        padding: var(--padding-small);
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* Telas médias */
@media (min-width: 601px) and (max-width: 1024px) {
    #listagem-produto {
        padding: var(--padding-medium);
        width: 80%;
        max-width: 900px;
    }
}

/* Telas grandes */
@media (min-width: 1025px) {
    #listagem-produto {
        padding: var(--padding-large);
        width: 70%;
        max-width: 1200px;
    }
}