#estoque {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    height: 100vh;
    padding: 2em;
    border: solid 0px #030303;
    top: 50%;
    left: 56.3%;
    transform: translate(-50%, -50%);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.minimal-button {
    background-color: #ffffff;
    /* Fundo branco */
    color: #333333;
    /* Texto cinza escuro */
    border: 1px solid #cccccc;
    /* Borda cinza clara */
    padding: 10px 20px;
    /* Espaçamento interno */
    font-size: 12px;
    /* Tamanho da fonte */
    border-radius: 5px;
    /* Bordas arredondadas */
    cursor: pointer;
    /* Cursor de ponteiro ao passar por cima */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.minimal-button:hover {
    background-color: #f0f0f0;
    /* Fundo levemente mais escuro ao passar o mouse */
    color: #000000;
    /* Texto fica preto ao passar o mouse */
}

.minimal-search {
    width: 100%;
    /* Largura total */
    padding: 10px 15px;
    /* Espaçamento interno */
    max-width: 400px;
    font-size: 16px;
    /* Tamanho da fonte */
    border: 1px solid #cccccc;
    /* Borda cinza clara */
    border-radius: 5px;
    /* Bordas arredondadas */
    outline: none;
    /* Remove o contorno ao focar */
    transition: border-color 0.3s ease;
    background-color: transparent;
}

.minimal-search:focus {
    border-color: #999999;
    /* Cor da borda ao focar */
}

#dropdownResultEstoque {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1000;
}

#dropdownResultEstoque div {
    padding: 10px;
    cursor: pointer;
}

#dropdown div:hover {
    background-color: #f0f0f0;
}