:root {
    --cor-principal: #6911ced7;
    --cor-secundaria: #6923b8;
    --cor-fundo: #ffffff;
    --cor-texto: #000000;
    --cor-borda: #cccccc;
    --cor-borda-foco: #6923b8c2;
    --cor-btn-cep: #6911ceb4;

    --tamanho-font: 16px;
    --espaco-padrao: 10px;
    --max-width: 1300px;
}

/* Para navegadores baseados em WebKit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Para Firefox */
html {
    scrollbar-width: thin;
    /* 'auto' ou 'thin' */
    scrollbar-color: #888 #f1f1f1;
    /* thumb e fundo */
}


/* Estilos principais */
#main-content {
    margin-left: 250px;
    /* Ajusta com base na largura da sidebar */
    padding: 50px;
    box-sizing: border-box;
    /* Inclui padding e border no width/height */
}


/* Seção de notas */
#section-nota {
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
    /* Margem superior zero, inferior de 20px */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* Adiciona bordas arredondadas para melhorar o design */
    box-sizing: border-box;
    /* Garante que padding e border não afetem o tamanho total */
}

/* Container flexível para botões e campo de pesquisa */
#container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    /* Faz com que o conteúdo se ajuste em telas menores */
    align-items: center;
    /* Centraliza verticalmente o conteúdo */
}


#dropdownResultEstoque {
    border: 1px solid var(--cor-borda);
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    width: 100%;
    max-width: 600px;
    z-index: 1000;
    border-radius: 0 8px 8px 8px;
}

#dropdownResultEstoque div {
    padding: var(--espaco-padrao);
    cursor: pointer;
}

#dropdownResultEstoque div:hover {
    background-color: rgba(105, 35, 184, 0.21);
}


.nota-entrada {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.btn-pri {
    background-color: var(--cor-principal) !important;
    color: #fff !important;
}

.btn-pri:hover {
    background-color: var(--cor-btn-cep) !important;
}


.icon {
    width: 19px;
    height: 19px;
    color: #fff;
}


.minimal-button {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    border: none;
    padding: var(--espaco-padrao) 20px;
    font-size: var(--tamanho-font);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.minimal-button:hover {
    background-color: rgba(105, 17, 206, 0.60);
    color: var(--cor-texto);
}

.minimal-search {
    width: 100%;
    padding: var(--espaco-padrao) 15px;
    max-width: 400px;
    font-size: var(--tamanho-font);
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: transparent;
}

.minimal-search:focus {
    border-color: #999999;
}


.col-date,
.col-type,
.type-cep,
.uf {
    width: 200px !important;
}

.group-1,
.group-2,
.group-3 {
    display: flex;
    gap: 1em;
}


.dados-destinatario,
.outro-endereco,
.itens-nota,
.transportador-nota {
    display: flex;
    flex-direction: column;
    gap: 1em;
}